{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Réinitialisation mot de passe</div>
                <div class="card-body">
                    {{ form_errors(requestPasswordForm) }}
                    {{ form_start(requestPasswordForm, {'attr': {'class': 'g-3'}}) }}
                        <div class="mb-3">
                            {{ form_label(requestPasswordForm.email) }}
                            {{ form_widget(requestPasswordForm.email) }}
                            {{ form_errors(requestPasswordForm.email) }}
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    {{ form_end(requestPasswordForm) }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}