{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Nouveau mot de passe</div>
                <div class="card-body">
                    {{ form_errors(ResetPasswordForm) }}
                    {{ form_start(ResetPasswordForm, {'attr': {'class': 'g-3'}}) }}
                        <div class="mb-3">
                            {{ form_label(ResetPasswordForm.password) }}
                            {{ form_widget(ResetPasswordForm.password) }}
                            {{ form_errors(ResetPasswordForm.password) }}
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    {{ form_end(ResetPasswordForm) }}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}