{% extends "base.html.twig" %}

{% block title %} Page d'accueil {% endblock %}

{% block body %}

<!-- Slider -->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://getbootstrap.com/docs/5.3/examples/heroes/bootstrap-themes.png"
                class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Responsive left-aligned hero with image</h1>
            <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
                popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
                extensive prebuilt components, and powerful JavaScript.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
            </div>
        </div>
    </div>
</div>

<!-- Tricks Grid -->
<div class="container text-center">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        {% for trick in tricks %}
        <a href="{{ trick.slug }}" class="text-decoration-none">
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ trick.category.name }}</div>
                <img src="{{ trick.media.first().url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{ trick.name }}</h4>
                    <p class="card-text">{{ trick.description }}</p>
                </div>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
</div>

<!-- Pagination -->
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if previous >= 0 %}
      <li class="page-item">
        <a class="page-link" href="{{ path('home', {'offset': previous}) }}">Précédent</a>
      </li>
    {% endif %}

    {% for page in 1..totalPages %}
      <li class="page-item{{ currentPage == page ? ' active' : '' }}">
        <a class="page-link" href="{{ path('home', {'offset': (page - 1) * pageSize}) }}">{{ page }}</a>
      </li>
    {% endfor %}

    {% if next < totalTricks - pageSize %}
      <li class="page-item">
        <a class="page-link" href="{{ path('home', {'offset': next}) }}">Suivant</a>
      </li>
    {% endif %}
  </ul>
</nav>

</div>



{% endblock %}